<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science

- Hands-on experiences for using Jupyter Notebook

- Introduce arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. TensorFlow
3. SciPy

### Below are a few examples of evaluating arithmetic expressions in Python.

In [18]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [20]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Thale